@{
    ViewBag.Title = "Bootstrap Sample Site | Button icons";
}

<div class="page-header">
  <h1>Buttons <small>icons</small></h1>
</div>

<p>
  Along with the different sizes, you can also add a number of different types of Icons to your buttons, a few of which are show in the following example:
</p>

<div class="spacedDiv"><a href="#" class="btn"><i class="icon-home"></i> Home</a></div>
<div class="spacedDiv"><a href="#" class="btn btn-primary"><i class="icon-print"></i> Print</a></div>
<div class="spacedDiv"><a href="#" class="btn btn-info"><i class="icon-info-sign"></i> Get Information</a></div>
<div class="spacedDiv"><a href="#" class="btn btn-success"><i class="icon-ok-circle"></i> Everything Worked</a></div>
<div class="spacedDiv"><a href="#" class="btn btn-warning"><i class="icon-question-sign"></i> Are you sure</a></div>
<div class="spacedDiv"><a href="#" class="btn btn-danger"><i class="icon-remove-circle"></i> Delete Item</a></div>
<div class="spacedDiv"><a href="#" class="btn btn-inverse"><i class="icon-play"></i> Play</a></div>
<div class="spacedDiv"><a href="#" class="btn btn-link"><i class="icon-tasks"></i> List Tasks</a></div>

<pre>
  &lt;div class="spacedDiv"&gt;&lt;a href="#" class="btn"&gt;&lt;i class="icon-home"&gt;&lt;/i&gt; Home&lt;/a&gt;&lt;/div&gt;
  &lt;div class="spacedDiv"&gt;&lt;a href="#" class="btn btn-primary"&gt;&lt;i class="icon-print"&gt;&lt;/i&gt; Print&lt;/a&gt;&lt;/div&gt;
  &lt;div class="spacedDiv"&gt;&lt;a href="#" class="btn btn-info"&gt;&lt;i class="icon-info-sign"&gt;&lt;/i&gt; Get Information&lt;/a&gt;&lt;/div&gt;
  &lt;div class="spacedDiv"&gt;&lt;a href="#" class="btn btn-success"&gt;&lt;i class="icon-ok-circle"&gt;&lt;/i&gt; Everything Worked&lt;/a&gt;&lt;/div&gt;
  &lt;div class="spacedDiv"&gt;&lt;a href="#" class="btn btn-warning"&gt;&lt;i class="icon-question-sign"&gt;&lt;/i&gt; Are you sure&lt;/a&gt;&lt;/div&gt;
  &lt;div class="spacedDiv"&gt;&lt;a href="#" class="btn btn-danger"&gt;&lt;i class="icon-remove-circle"&gt;&lt;/i&gt; Delete Item&lt;/a&gt;&lt;/div&gt;
  &lt;div class="spacedDiv"&gt;&lt;a href="#" class="btn btn-inverse"&gt;&lt;i class="icon-play"&gt;&lt;/i&gt; Play&lt;/a&gt;&lt;/div&gt;
  &lt;div class="spacedDiv"&gt;&lt;a href="#" class="btn btn-link"&gt;&lt;i class="icon-tasks"&gt;&lt;/i&gt; List Tasks&lt;/a&gt;&lt;/div&gt;
</pre>

<p>
  You can also invert the icon colour to white by using the optional <code>icon-white</code> class along side the icon name
</p>

<div class="spacedDiv"><a href="#" class="btn"><i class="icon-home icon-white"></i> Home</a></div>
<div class="spacedDiv"><a href="#" class="btn btn-primary"><i class="icon-print icon-white"></i> Print</a></div>
<div class="spacedDiv"><a href="#" class="btn btn-info"><i class="icon-info-sign icon-white"></i> Get Information</a></div>
<div class="spacedDiv"><a href="#" class="btn btn-success"><i class="icon-ok-circle icon-white"></i> Everything Worked</a></div>
<div class="spacedDiv"><a href="#" class="btn btn-warning"><i class="icon-question-sign icon-white"></i> Are you sure</a></div>
<div class="spacedDiv"><a href="#" class="btn btn-danger"><i class="icon-remove-circle icon-white"></i> Delete Item</a></div>
<div class="spacedDiv"><a href="#" class="btn btn-inverse"><i class="icon-play icon-white"></i> Play</a></div>
<div class="spacedDiv"><a href="#" class="btn btn-link"><i class="icon-tasks icon-white"></i> List Tasks</a></div>

<pre>
  &lt;div class="spacedDiv"&gt;&lt;a href="#" class="btn"&gt;&lt;i class="icon-home icon-white"&gt;&lt;/i&gt; Home&lt;/a&gt;&lt;/div&gt;
  &lt;div class="spacedDiv"&gt;&lt;a href="#" class="btn btn-primary"&gt;&lt;i class="icon-print icon-white"&gt;&lt;/i&gt; Print&lt;/a&gt;&lt;/div&gt;
  &lt;div class="spacedDiv"&gt;&lt;a href="#" class="btn btn-info"&gt;&lt;i class="icon-info-sign icon-white"&gt;&lt;/i&gt; Get Information&lt;/a&gt;&lt;/div&gt;
  &lt;div class="spacedDiv"&gt;&lt;a href="#" class="btn btn-success"&gt;&lt;i class="icon-ok-circle icon-white"&gt;&lt;/i&gt; Everything Worked&lt;/a&gt;&lt;/div&gt;
  &lt;div class="spacedDiv"&gt;&lt;a href="#" class="btn btn-warning"&gt;&lt;i class="icon-question-sign icon-white"&gt;&lt;/i&gt; Are you sure&lt;/a&gt;&lt;/div&gt;
  &lt;div class="spacedDiv"&gt;&lt;a href="#" class="btn btn-danger"&gt;&lt;i class="icon-remove-circle icon-white"&gt;&lt;/i&gt; Delete Item&lt;/a&gt;&lt;/div&gt;
  &lt;div class="spacedDiv"&gt;&lt;a href="#" class="btn btn-inverse"&gt;&lt;i class="icon-play icon-white"&gt;&lt;/i&gt; Play&lt;/a&gt;&lt;/div&gt;
  &lt;div class="spacedDiv"&gt;&lt;a href="#" class="btn btn-link"&gt;&lt;i class="icon-tasks icon-white"&gt;&lt;/i&gt; List Tasks&lt;/a&gt;&lt;/div&gt;
</pre>

<p>
  There are 140 icons available (a full list is on the BASE CSS page in the Bootstrap Documentation) and each Icon can be used anywhere you want, not just on buttons 
  you must remember however, that in order to render the icon's correctly you MUST close the &lt;i&gt; tag as shown in the code above, using the new quick HTML5 way of closing tags won't work.
</p>

<p>
  As good as the icons are however, there remains one small problem.  All the icons provided by the default kit are bitmap sprites.  This means scaling them up leads to display issues where the 
  icons loose thier smooth definition and start to become very jaggered.  However all is not lost, there are a number of community projects that have set out to replace the default bitmap icons 
  with scaleable vector and/or font based versions, the two most notable of which are listed below:
</p>

<ul>
  <li><a href="http://fortawesome.github.io/Font-Awesome/" target="_blank"><strong>Font Awesome</strong> - The first and best replacment icon set available for bootstrap.</a></li>
  <li><a href="http://codevisually.com/elusive-icons/" target="_blank"><strong>Elusive Icons</strong> - A direct one to one font conversion of the original TWB icon set.</a></li>
</ul>

<p>
  If your doing any serious work with Twitter Bootstrap it's highly recomended that you use one of the above replacment kits, not only do they scale smoothly, but beacuse there both
  vector/font based, the colour can be changed easily in CSS and even use a lot of the new CSS3 text effects now available such as rotation and drop shadows.
</p>


@section UserCss
{
  <style>
    .spacedDiv {padding: 4px;}
  </style>
}
