@{
    ViewBag.Title = "Bootstrap Sample Site | Hero Unit";
}

<div class="page-header">
  <h1>Components <small>Hero Unit</small></h1>
</div>

<p>
  Would you like a hero for your web page?  Of course you would, and Twitter Bootstrap won't disapoint you.  There's nothing complicated about Hero Units, there simply designed to grab peoples 
  attention and show case something in big bold words that folks just can't ignore.
</p>

<div class="hero-unit">
  <h1>I am a hero unit</h1>
  <p>and I'm the snippet of text that tells you all about this hero unit..</p>
  <p>
    <a class="btn btn-primary btn-large">
      Click here to do something else like read more.
    </a>
  </p>
</div>

<pre>
&lt;div class="hero-unit"&gt;
  &lt;h1&gt;I am a hero unit&lt;/h1&gt;
  &lt;p&gt;and I'm the snippet of text that tells you all about this hero unit..&lt;/p&gt;
  &lt;p&gt;
    &lt;a class="btn btn-primary btn-large"&gt;
      Click here to do something else like read more.
    &lt;/a&gt;
  &lt;/p&gt;
&lt;/div&gt;
</pre>

<p>
  To use it, simply wrap your content in a &lt;div&gt; that has a class of <code>hero-unit</code> applied to it.  Then add a &lt;h1&gt; for your main text, and a &lt;p&gt; for the smaller text and 
  top it all off with a button or two.
</p>