@{
    ViewBag.Title = "Bootstrap Sample Site | Labels and Badges";
}

<div class="page-header">
  <h1>Components <small>Labels and Badges</small></h1>
</div>

<p>
  Labels and badges are as you would expect the description to be.  These are small coloured text based icons that are used for things like comment counts and
  blog post tags.
</p>

<p>
  Like most of Twitter Bootstrap, they follow the same key 4 colour scheme and have thier colours set appropriately, they are also style using the 
  CSS3 <code>:empty</code> pesudo selector, which means when thier empty and have no content they'll automatically disapear from your display, the standard 
  label types are as follows:
</p>

